---
name: Pre-Commit
on:
  merge_group:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main
  schedule:
    # Run once a week (see https://crontab.guru)
    - cron: "0 0 * * 0"
  workflow_dispatch:

env:
  GO_VERSION: 1.24.0
  PYTHON_VERSION: 3.13.3
  TASK_VERSION: 3.38.0
  TASK_X_REMOTE_TASKFILES: 1

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: write # Allows merge queue updates
  security-events: write # Required for GitHub Security tab

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install pre-commit
        run: python3 -m pip install pre-commit

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Install go module dependencies
        run: |
          go install mvdan.cc/sh/v3/cmd/shfmt@latest

      - name: Setup go-task
        uses: rnorton5432/setup-task@eec4717ae80f02d1614a4fecfa4a55d507768696 # v1.0.0
        with:
          task-version: ${{ env.TASK_VERSION }}

      - name: Run pre-commit
        run: task -y run-pre-commit || true
